body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

header {
    text-align: center;
    color: #ff0000; /* Vermelho, inspirado na série */
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    color: #ff0000;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff0000; /* Cor da série */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ff0; /* Amarelo, complementando o estilo da série */
}

.ranking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
}

.category {
    width: 48%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.ranking-table {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 1.2rem;
    color: #ff0;
}

@media (max-width: 768px) {
    .ranking {
        flex-direction: column;
        align-items: center;
    }

    .category {
        width: 90%;
    }
}
